* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: white;
  border: 0px;
  font-size: 20px;
  height: 30px;
  width: 0vh;
  padding: 20px;
  transition: width 0.3s ease;
  border-radius: 5px;
}
button {
  background-color: rgb(250, 250, 250);
  font-size: 25px;
  border: 0;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 0%;
  left: 0%;
  transition: transform 0.3s ease;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}
.search.active .input {
  width: 200px;
}
.search.active button {
  transform: translateX(198px);
}
/* button:hover() .input {
  width: 200px;
} */
